.page.theme_dark {
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --title-color: #db00ff;
  --text-color: #000028;
  --text-bg-color: #ff0070;
  --border-color: #ff0070;
  --article-text: #F1B2CE;
}
.page.theme_dark .header__rec {
  opacity: 1;
  visibility: visible;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --bg-image: url("../images/cover-image-dark.png");
    --title-color: #db00ff;
    --text-color: #000028;
    --text-bg-color: #ff0070;
    --border-color: #ff0070;
    --article-text: #F1B2CE;
  }
  .header__rec {
    opacity: 1;
    visibility: visible;
  }
}
