.page.theme_light {
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --title-color: #ffc2e6;
  --text-color: #353430;
  --text-bg-color: #ff8dcb;
  --border-color: #353430;
  --article-color:#353430;
}
.page.theme_light .header__rec {
  opacity: 0;
  visibility: hidden;
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");
    --title-color: #ffc2e6;
    --text-color: #353430;
    --text-bg-color: #ff8dcb;
    --border-color: #353430;
    --article-color:#353430;
  }
  .header__rec {
    opacity: 0;
    visibility: hidden;
  }
}
