:root{
  --bg-color: #FFF1F7 ;
  --bg-image: url("../images/cover-image-light.png");
  --title-color: #FFC2E6;
  --text-color: #353430;
  --text-bg-color: #FF8DCB;
  --border-color: #353430;
  --article-color:#353430;
}

